@import url("https://fonts.googleapis.com/css2?family=Inria+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inria Sans", sans-serif;
}

:root {
  --black-blue-color: #1e293c;
  --dark-blue-color: #2d4461;
  --blue-color: #429dff;
  --light-blue-color: #37e7f2;
  --yellow-color: #fdc121;
  --orange-color: #fa8711;

  --big-font-size: 96px;
  --medium-font-size: 24px;
  --small-font-size: 12px;
}

body {
  // font-family: "Inria Sans", sans-serif;
}

section {
  height: 100vh;
  display: flex;
  align-items: center;
}

.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 440px;
  height: 660px;
  background: rgb(45, 68, 97);
  background: linear-gradient(
    43deg,
    rgba(45, 68, 97, 1) 0%,
    rgba(30, 41, 60, 1) 100%
  );
  border-radius: 20px;

  &-display {
    height: 230px;
    padding: 10px;
  }

  &-controls {
    display: grid;
    height: 430px;
    justify-content: center;
    align-content: center;
    gap: 20px;
    grid-template-columns: repeat(6, 50px);
    grid-template-rows: minmax(50px, auto) repeat(5, 50px);
  }
}

.btn {
  font-size: 24px;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  color: #fff;

  &-row {
    grid-column: span 2;
  }

  &-col {
    grid-row: span 2;
  }

  &-contrast-font {
    color: var(--yellow-color);
  }

  &-oragne-bg {
    background: linear-gradient(
      90deg,
      rgba(253, 193, 33, 1) 0%,
      rgba(250, 135, 17, 1) 100%
    );
  }

  &-blue-bg {
    background: linear-gradient(
      270deg,
      rgba(66, 157, 255, 1) 0%,
      rgba(55, 231, 242, 1) 100%
    );
  }

  &-svg {
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
  }

  &-back {
    background-image: url("./assets/delete-left.svg");
    background-size: 21px 19px;
  }

  &-return {
    background-image: url("./assets/arrow-rotate-left.svg");
    background-size: 18px 18px;
  }
}

.btn-back {
  background-image: url("./assets/delete-left.svg");
}
