@import url("https://fonts.googleapis.com/css2?family=Inria+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inria Sans", sans-serif;
}

:root {
  --black-blue-color: #1e293c;
  --dark-blue-color: #2d4461;
  --blue-color: #429dff;
  --light-blue-color: #37e7f2;
  --yellow-color: #fdc121;
  --orange-color: #fa8711;
  --filter-yellow: invert(89%) sepia(14%) saturate(6351%) hue-rotate(337deg)
    brightness(103%) contrast(105%);
  --filter-orange: invert(72%) sepia(52%) saturate(5469%) hue-rotate(354deg)
    brightness(101%) contrast(96%);

  --big-font-size: 96px;
  --medium-font-size: 24px;
  --small-font-size: 12px;
}

section {
  height: 100vh;
  display: flex;
  align-items: center;
}

.calculator {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 440px;
  height: 660px;
  background: linear-gradient(
    43deg,
    rgba(45, 68, 97, 1) 0%,
    rgba(30, 41, 60, 1) 100%
  );
  border-radius: 20px;

  &-display {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    height: 230px;
    padding: 20px;
    font-size: var(--big-font-size);
    color: var(--yellow-color);
  }

  &-controls {
    display: grid;
    height: 430px;
    justify-content: center;
    align-content: center;
    gap: 20px;
    grid-template-columns: repeat(6, 50px);
    grid-template-rows: minmax(50px, auto) repeat(5, 50px);
  }
}

.btn {
  font-size: var(--medium-font-size);
  cursor: pointer;
  border: none;
  border-radius: 20px;
  color: #fff;
  transition: box-shadow 0.4s;

  &-regular {
    background: rgba(0, 0, 0, 0.25);
    border: 1px solid var(--black-blue-color);
  }

  &-row {
    grid-column: span 2;
  }

  &-col {
    grid-row: span 2;
  }

  &-contrast-font {
    color: var(--yellow-color);
  }

  &-oragne-bg {
    background: linear-gradient(
      90deg,
      rgba(253, 193, 33, 1) 0%,
      rgba(250, 135, 17, 1) 100%
    );
  }

  &-blue-bg {
    background: linear-gradient(
      270deg,
      rgba(66, 157, 255, 1) 0%,
      rgba(55, 231, 242, 1) 100%
    );
  }

  &-return-icon {
    width: 18px;
    height: 18px;
    filter: var(--filter-yellow);
  }

  &-back-icon {
    width: 21px;
    height: 19px;
    filter: invert(1);
  }

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
      rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
      rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
      rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
      rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
      rgba(0, 0, 0, 0.09) 0px 32px 16px;
  }
}

.superscript-root {
  position: relative;
  top: -8px;
  right: -8px;
  font-size: var(--small-font-size);
}

.theme-change-switcher {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 20px;
  left: 20px;
}

.theme-picture {
  position: absolute;

  left: 13px;
  height: 18px;
  filter: var(--filter-orange);
}

.picture-dark {
  bottom: 13px;
  width: 16px;
}

.picture-light {
  width: 18px;
  top: 13px;
  left: 11px;
}

.switch {
  height: 80px;
  width: 40px;
  -webkit-appearance: none;
  border: var(--black-blue-color);
  border-radius: 16px;
  background: linear-gradient(180deg, #1e293c 0%, #2d4461 123.75%);
  border: none;

  &::after {
    content: "";
    position: absolute;
    display: block;
    left: 8px;
    top: 9px;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    z-index: 10;
    cursor: pointer;
    background: var(--orange-color);
    transform: translateY(0px);
    transition: transform 0.4s;
  }

  &:checked::after {
    transform: translateY(36px);
  }
}

/*==========  Light theme ==========*/
.calculator.light-theme {
  background: linear-gradient(205.25deg, #f6f9fc 0.82%, #c7e1fd 114.37%),
    #2d4461;
}

.light-theme .calculator {
  &-display {
    color: var(--orange-color);
  }
}

.light-theme .btn {
  color: var(--black-blue-color);

  &-regular {
    background: #c7e1fd;
    border: none;
  }

  &-contrast-font {
    color: var(--orange-color);
  }

  &-return-icon {
    filter: var(--filter-orange);
  }

  &-back-icon {
    filter: invert(11%) sepia(29%) saturate(1044%) hue-rotate(179deg)
      brightness(96%) contrast(89%);
  }

  &:hover {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
      rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  }
}

.light-theme .theme-picture {
  filter: invert(87%) sepia(10%) saturate(825%) hue-rotate(182deg)
    brightness(93%) contrast(114%);
}

.light-theme .switch {
  border: var(--orange-color);
  background: linear-gradient(0deg, #fdc121 0%, #fa8711 100%);

  &::after {
    background: #c7e1fd;
  }
}
